.mdl-data-table {
    border: 1px solid #ccc;
    text-align: left;
    margin-left: 20px;
}

thead {
	border: 1px solid #ccc;
}

th {
	font-size: 14px;
    padding: 10px;
    border-right: solid 1px #ccc;
}

td {
	font-size: 14px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    border-right: solid 1px #ccc;
}

ng-md-icon {
    margin: auto;
    display: inline-block;
    vertical-align: middle;
}

.collapsed {
    float: left;
    width: 20px;
    margin: 3px -5px 0 0;
}